@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Poppins:wght@300;400;600&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.main{
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    width: 375px;
}

h2{
    color: #4D4F62;
    font-weight: 300;
    letter-spacing: 0.167px;
    font-size: 24px;
    margin-top: 85px;
}

.pw{
    color: #4D4F62;
    font-weight: 600;
    letter-spacing: 0.167px;
    font-size: 24px;
    margin-bottom: 76px;

}

.pr{
    color: #4D4F62;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.104pxs;   
    margin-bottom: 51px;
}

.sup{
    text-align: left;
    margin-left: 32px;
    width: 311px;
    height: 222px;
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}

.lr{
    width: 311px;
    height: 3px;
    background-color: #44D3D2;
    margin-left: 32px;
    margin-top: 25px;
}

.supp{
    margin-top: 27px;
    margin-left: 28px;
    color: #4D4F62;
    font-size: 20px;
    font-weight: 600;
}

.supp2{
    margin-left: 29px;
    color: #4D4F62;
    font-size: 13px;
    font-weight: 400;
}

img{
    margin: 33px 0 0 226px;
}

.lr1{
    background-color: #EA5454;
}

.lr3{
    background-color: #FCAE4A;
}
.lr4{
    background-color: #549EF2;
}

.hover:hover{
   transform: scale(1.2);
    transition: all 5s;
}